.navbar-header .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
body{
    margin: 0;
    padding:0;
    background: url(../Dentro/yeshi-kangrang-296068-unsplash.png) no-repeat center center fixed;
    font-family: "ABeeZee"; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    
}
.aperturabottone{
    top: 90%;
    left: 95%;
    position: absolute;
}
.aperturabottone button{
    background-color: rgba(212, 144, 88, 0.445);
    position: fixed;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    color:white;
}

.aperturabottone button:hover{
    background-color:rgba(212, 154, 88, 0.671);
    font-size: 34px;
}

.aperturabottone button:focus{
    outline:0;
}
.aperturabottone button:active{
    outline:0;
}

.elementi {
    top: 7%;
    left: 81.7%;
    position: fixed;
    background-color: rgba(212, 144, 88, 0.445);  /*sfondo della finestra che esce con il bottone*/
    width: 18%;
    height: 44%;
    text-align: center;
    border-radius: 20px;
}

.elementi input[type="text"]{ 
    border-radius: 10px;
    color:grey;
}

.container {
    top:60px;
    width: 60%;
    position: relative;

}
#idpersona{
    color: white;
}
.row{
    padding:0;
    background: rgba(136, 131, 131, 0.418);
    position: relative;
    border-radius: 20px;
    height: 160px;
}
/* Style the tab */
.tab {
    float: left;
    position: fixed;
    border: 1px solid black;
    background-color: rgba(212, 144, 88, 0.445);;
    width: 19%;
    height: 100%;
    
}
/* Style the buttons inside the tab */
.tab button  {
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;
}  
/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #ccc;
}
.row #rimuovere{
right: 8px;
bottom:0;
position: absolute;
}

.collapsable{
left: 30%;
float: left;
position: relative;
}
#brand {
overflow:hidden;
width:100%;
height:40px;
-moz-border-radius: 9px 9px 9px 9px;
-webkit-border-radius: 9px 9px 9px 9px;
border-radius: 9px 9px 9px 9px;
box-shadow: 1px 1px 11px #330033;
background-color: #f1f1f1 no-repeat scroll 319px center;
}
#brand select {
border: 0;
color: #EEE;
background-color:inherit;
font-size: 20px;
font-weight: bold;
padding: 2px 10px;
width: 378px;
*width: 350px;
*background: #58B14C;
-webkit-appearance: none;
}

a.stilebottone {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    
}

h3{
    font-size: 20px;
    color:white;
}

.elementi {
    color: white;
}

