body{
    margin: 0;
    padding:0;
    background: url(image_sfondo_login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    font-family: sans-serif; 
}
:placeholder-shown:-moz-placeholder { color: rgba(99, 71, 51, 0.829); }
:placeholder-shown:-ms-input-placeholder { color: rgba(99, 71, 51, 0.829); }
:placeholder-shown::-webkit-input-placeholder { color: rgba(99, 71, 51, 0.829); }

.kontainer {
    background: transparent;
    left: 40%;
    top:50%;
    position: absolute;
}
#pesan{
    background: transparent;
    border:0;
}
.alert{
    display: none;
}

.loginbox{
    text-align: left;
    width: 320px;
    height: 370px;
    background: rgba(214, 163, 114, 0.808);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 110px;
    
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:url(legno.jpg);
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background:url(legno.jpg) ;
    opacity: 0.7;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgba(99, 71, 51, 0.829);
}

.loginbox a:hover{
    color: #fff;
}

#password + .glyphicon {
    cursor: pointer;
    pointer-events: all;
  }

/* CSS PER MODAL BOX PROVENIENTE DA SERVER */
/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
