body {
    background: url(tramonto.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
}

#foto {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    opacity:0.7;
}

.container {
    position: relative;
    width: 60%;
}

.row {
    color:white;
    font-family: cursive;
    font-style: inherit;
}


